.layout-config-container {
  position: relative;
  flex: 1;
  max-width: 1200px;
  height: 100%;
  background-color: white;
}

.layout-config-container .click-area {
  position: absolute;
  height: 100%;
  width: 100%;
}
