.layout-config-container {
  position: relative;
  height: 1000px;
  width: 1000px;
  background-color: white;
}

.layout-config-container .click-area {
  position: absolute;
  height: 100%;
  width: 100%;
}
