.display-square {
  padding: 2px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.display-square .container {
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.display-square .header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.display-square .icon,
.display-square .secondary-value {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 30px;
  width: 30px;
  opacity: 0.5;
}

.display-square .icon {
  border-right-width: 1px;
  border-right-style: solid;
}
.display-square .secondary-value {
  border-left-width: 1px;
  border-left-style: solid;
  right: 0;
}

.display-square .value {
  margin-top: -10px;
  height: 100%;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-square .name {
  position: absolute;
  bottom: 5px;
  width: 100%;
  
  display: flex;
  justify-content: center;
}

.display-square .click-left {
  position: absolute;
  width: 50%;
  height: 100%;
  cursor: pointer;
}

.display-square .click-right {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  cursor: pointer;
}