.display-card {
  padding: 2px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.display-card .container {
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  overflow: hidden;
  user-select: none;
}
.display-card .container.disabled {
  opacity: 0.25;
}

.display-card .icon {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  cursor: pointer;
}
.display-card .icon > * {
  width: 60%;
  height: 100%;
}

.display-card .content {
  all: unset;
  cursor: pointer;
  padding: 4px 8px ;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.display-card .header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 18px;
}

.display-card .action {
  all: unset;
  cursor: pointer;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.display-card .dots {
  display: flex;
}

.display-card .dot {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right: 2px;
  cursor: pointer;
}
