.action-roll {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  padding-left: 10px;
  cursor: pointer;
}

.action-roll .face-combo .sign {
  padding: 0 2px;
}

.action-roll .face-combo .d {
  color: brown;
}

.action-roll .face-combo .faces {
  color: brown;
}
