.icon-menu-item {
  display: flex;
  align-items: center;
}

.icon-menu-item :first-child {
  width: 30px;
  margin-right: 5px;
}

.object-display-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  padding-left: 16px;
  margin-top: -280px;
}
