.history-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-page .history-content {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: overlay;
}

.history-page .history-content .inner {
  max-width: 1000px;
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.history-page .history-controls {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding:  0 20px 0 0;
}

.history-page .history-controls > :first-child {
  width: 50%;
}
