.object-config-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.object-config-page .object-config-content {
  padding: 30px;
  display: flex;
  justify-content: center;
  overflow: overlay;
}

.object-config-page .object-config-content :first-child {
  max-width: 1200px;
}

.object-config-page .object-config-controls {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding:  0 20px 0 0;
}

.object-config-page .object-config-controls :first-child {
  width: 50%;
}
