{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "@typescript-eslint/quotes": "off"
  }
}
