.action-roll-result-dialog .total {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.action-roll-result-dialog .results {
  display: flex;
  font-size: 36px;
  font-weight: bold;
}


.action-roll-result-dialog .result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  cursor: pointer;
  user-select: none;
}

.action-roll-result-dialog .result .top {
  font-size: 14px;
  min-height: 20px;
  max-height: 20px;
  display: flex;
  align-items: flex-end;
}

.action-roll-result-dialog .sign {
  display: flex;
  align-items: center;
}

.action-roll-result-dialog .detail {
  font-size: 14px;
  min-height: 20px;
}

.action-roll-result-dialog .result .min {
  color: red;
}
.action-roll-result-dialog .result .max {
  color: green;
}
