.action-node-left {
  height: 80px;
  margin-top: -1px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px 0 0 8px;
  display: flex;
}

.action-node-left .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.action-node-left .icon > * {
  width: 60%;
  height: 100%;
}

.action-node-left .content {
  padding: 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.action-node .content .title {
  font-weight: bold;
}

.action-node .content .detail {
  flex: 1;
}
