.action-node-right {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  overflow: auto;
}

.action-node-right .result {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 20px;
  padding: 0 8px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-width: 22px;
}

.action-node-right .result:first-child {
  min-width: 35px;
  font-size: 30px;
  font-weight: bold;
  padding: 0 12px;
}

.action-node-right .result.min {
  color: red;
}
.action-node-right .result.max {
  color: green;
}
