.action-node {
  display: flex;
}
.action-node.level0:not(:first-child) {
  margin-top: 20px;
}

.action-node .left {
  max-width: 400px;
  width: 400px;
}

.action-node .center {
  max-width: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-node .center .button {
  height: 80%;
  width: 80%;
}
.action-node .center .button * {
  height: 30px;
  width: 30px;
}

.action-node .right {
  max-width: 250px;
  width: 250px;
}
