.action-combo {
  display: flex;
  align-items: center;
}

.common-dice {
  display: flex;
  flex-direction: column;
}

.common-dice .row {
  display: flex;
  align-items: center;
  height: 60px;
  user-select: none;
}

.common-dice .row > .title {
  width: 100px;
  font-size: 20px;
  font-weight: bold;
}

.common-dice .row > :not(.title) {
  margin-left: 5px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
}